<% include ../partials/header %>
<link rel='stylesheet' href='/stylesheets/projectShow.css'>

<div class='container'>
		<div class="card">
			 <div class="card-header text-center"> 
				 <h1 class="card-title"><i class="fas fa-file-code"></i>  <a href='#'><%= project.title %></a></h1>				
			  </div>
			  	  
			  <div class="card-body">
			  		<h4><i class="fas fa-glasses py-2"></i> ABOUT <%= project.title %></h4>
					<p class="pt-2"> <%- project.body %></p>
					<p><strong>Technologies, tools, languages used:</strong> <%= project.toolUsed %></p>
					<button class='buttonShow'><a href="<%= project.github %>" class="btnLink" target="_blank" role="button">Source Code</a></button>
		  			<br></br>
			  		<hr>
					<h4 class="card-text py-2"> Example run: </h4>
					<div class='text-center'>
						<img class='img-responsive pt-3' src='<%= project.image %>'>
					</div>
			   </div>	
			   

				<div class='row justify-content-center'>	
					<% if(currentUser){ %>
						<button class='buttonShow'><a class='btnLink' href='/projects/<%=project._id%>/edit'>Edit</a></button>
						<form action='/projects/<%= project._id %>?_method=DELETE' method="POST">
							<button class='buttonShow buttonHover'> Delete</button>
						</form>
					<% } %>
			    </div>		
		</div>			
</div>

  

<% include ../partials/footer %>
