<% include ../partials/header %>
<link rel='stylesheet' href='/stylesheets/projects.css'>

<div class='container'>
	<div class='row'>
		<div class='col-md-9'>
			<div class='img-thumbnail'>
				<img class='img-responsive' src='<%= project.image %>'>
				<div class='caption'>
					<h4><a href='#'><%= project.title %></a></h4>
					<span><%= project.dateCreated.toDateString() %> </span>
					<p> <%- project.body %> </p>
				</div>

				<a href='/projects/<%=project._id%>/edit'>Edit</a>
				<form action='/projects/<%= project._id %>?_method=DELETE' method="POST">
					<button class='btn btn-primary'>Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
